{% extends 'base.html' %}
{% block content %}

<h1>Fox Detail</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ fox.name }}</span>
    <p>Species: {{ fox.species }}</p>
    <p>Description: {{ fox.description }}</p>
    {% if fox.age > 0 %}
      <p>Age: {{ fox.age }}</p>
    {% else %}
      <p>Age: Pup</p>
    {% endif %}
  </div>
  <div class="card-action">
    <a href="{% url 'foxes_update' fox.id %}">Edit</a>
    <a href="{% url 'foxes_delete' fox.id %}">Delete</a>
  </div>
</div>

{% endblock %}